<h1>Sign In</h1>
<%= form_with model: @user, local: true do |form| %>

  <div class="field form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
