<p id="notice"><%= notice %></p>

<h1>All Assets</h1>

<table class = "table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Purchase date</th>
      <th>Purchased from</th>
      <th>Serial number</th>
      <th>Purchase type</th>
      <th>Condition score</th>
      <th>Assigned to</th>
      <th>Assigned at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% users = User.all %>
    <% users.each do |user| %>
    <% user.assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.description.truncate(15) %></td>
        <td><%= asset.purchase_date %></td>
        <td><%= asset.purchased_from %></td>
        <td><%= asset.serial_number %></td>
        <td><%= asset.purchase_type %></td>
        <td><%= asset.condition_score %></td>
        <td><%= user.username %></td>
        <td><%= asset.assigned_at%></td>
        <td><%= link_to 'Show', user_asset_url(user, asset), class:"btn btn-secondary btn-sm" %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>

<br>
